<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185520718489-vr259tbvubvbk2u5nmifrbc9hpkiuf56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185520718489-vr259tbvubvbk2u5nmifrbc9hpkiuf56</string>
	<key>API_KEY</key>
	<string>AIzaSyDUlGcyW9q4XsAsbtkYO-XwdgrdLc24YcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>185520718489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itmit.cabinets</string>
	<key>PROJECT_ID</key>
	<string>cabinets-da9fc</string>
	<key>STORAGE_BUCKET</key>
	<string>cabinets-da9fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185520718489:ios:081687613c78bfc185ee08</string>
	<key>DATABASE_URL</key>
	<string>https://cabinets-da9fc.firebaseio.com</string>
</dict>
</plist>